@import url('https://fonts.googleapis.com/css?family=Roboto');

/* CSS RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:active, a:focus, a:hover {
	text-decoration: none;
}

/* CSS RESET END */

body {
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

.wrapper {
  width:500px;
  margin:0px auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding-top: 24px;
}


.wrapper {
  width:500px;
  margin:0px auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.wrapper > div {
  flex:1;
  width:100%;
}

.action-wrapper {
  display: flex;
  align-items:center;
  justify-content: center;
}